<!DOCTYPE html>
<html>
  <head>
    <title>PinterestClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  </div>
  <% if current_user %>
    <%= link_to 'Home', root_path %>|
    <%= link_to "Create Post", new_post_path %> |
    <%= link_to "View all your post", posts_path %>
    <br><br>
    Signed in as <%= current_user.first_name %> | <%= link_to ("Log Out"), sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'login', '/' %> | <%= link_to 'Signup', '/sign_up' %>
  <% end %>
    <%= yield %>

  <script>
    $(".alert").delay(1000).fadeOut('slow');
  </script>
  </body>
</html>
