<!DOCTYPE html>
<html>
  <head>
    <title>PinterestClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    Signed in as <%= current_user.first_name %>
  <% else %>
    <%= link_to 'login', '/' %> | <%= link_to 'Signup', '/sign_up' %>
  <% end %>
    <%= yield %>
  </body>
</html>
